# 10. 리스트, 튜플

In [1]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [2]:
#빈 리스트 만들때
emty_list = []
el =list()

In [4]:
#range
range(9)

range(0, 9)

In [5]:
a= list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
b=list(range(1,10))
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
c=list(range(1,10,2))
c

[1, 3, 5, 7, 9]

In [9]:
d=list(range(10,0,-1))
d
#0 앞의 숫자까지

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
#튜플 : 값이 바뀌지 않는다!  괄호 사용() 하거나 하지 않아도 됨
a = (36,24,12)
b = 34,23,56
a+b

(36, 24, 12, 34, 23, 56)

In [12]:
# 한개의 엘리먼트를 갖는 튜플 은 컴마!
(36,)

(36,)

In [13]:
d=tuple(range(10,0,-1))
d

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [14]:
#list<-->tuple
tuple_a = tuple([1,2,3])
tuple_a

(1, 2, 3)

In [16]:
list_a = list((1,2,3))
list_a

[1, 2, 3]

In [19]:
#문자열 : 시퀀스 데이터 --> for문을 쓸수 있다.(list,tuple,range,문자열)
list('hello')

['h', 'e', 'l', 'l', 'o']

In [20]:
tuple('안녕하세요')

('안', '녕', '하', '세', '요')

In [21]:
d,e,f =(4,5,6)
print(d,e,f)

4 5 6

In [22]:
x,y,z = 7,8,9
print(x,y,z)

7 8 9

In [23]:
#스와핑: 값을 바꿀때 
x=10
y=20
x,y =y,x
print(x,y)

20 10

In [24]:
#입력과 연계 : 인풋은 문자값으로 나온다
x= input()

10

In [25]:
print(x, int(10))

10 10

In [26]:
x= input().split()

10 20 30

In [27]:
x

['10', '20', '30']

In [30]:
a,b,c = map(int,['10', '20', '30'] )
print(a,b,c)

10 20 30

In [31]:
a,b,c = map(int, input('숫자 3개 입력>').split())

숫자 3개 입력>10 20 30

In [32]:
print(a,b,c)

10 20 30

In [33]:
[int(i) for i in input('숫자 3개 입력>').split()]

숫자 3개 입력>10 20 30

[10, 20, 30]

In [36]:
x=int(input())
a=tuple(range(-10,10, x))
print(a)

3
(-10, -7, -4, -1, 2, 5, 8)