#set 사용

In [2]:
#중복 x ,순서 정해지지않음

In [3]:
 fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

In [4]:
'orange' in fruits

True

In [5]:
a = set('apple')    # 유일한 문자만 세트로 만듦
a

{'a', 'e', 'l', 'p'}

In [6]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [7]:
set('안녕하세요')

{'녕', '세', '안', '요', '하'}

In [8]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a | b #set.union(a, b)

{1, 2, 3, 4, 5, 6}

In [9]:
a & b #set.intersection(a, b)

{3, 4}

In [10]:
a - b #set.difference(a, b)

{1, 2}

In [11]:
a ^ b #set.symmetric_difference(a, b) :유니온에서 교집합 뺀거

{1, 2, 5, 6}

In [13]:
a = {1, 2, 3, 4}
a |= {5} # a.update({5})
a

{1, 2, 3, 4, 5}

In [14]:
#&=은 현재 세트와 다른 세트 중에서 겹치는 요소만 현재 세트에 저장하며 intersection_update 메서드와 같습니다. 다음은 세트 {1, 2, 3, 4}와 {0, 1, 2, 3, 4} 중에서 겹치는 요소만 a에 저장하므로 {1, 2, 3, 4}가 나옵니다.
a = {1, 2, 3, 4}
a &= {0, 1, 2, 3, 4}
a

{1, 2, 3, 4}

In [15]:
# 다 같은 뜻: a |={5},a.update({5}),a.add(5)

In [18]:
a={1,2,3,4}
b=a.copy()
b.add(5)
a

{1, 2, 3, 4}

In [19]:
a={4,3,2,1}
for i in a:
    print(i)

1
2
3
4

In [21]:
 a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}

In [25]:
a={i for i in range(1,101) if i % 3 == 0}
b={i for i in range(1,101) if i % 5 == 0}
print(a & b)

{75, 45, 15, 90, 60, 30}

## 책 연습문제 p.175

In [26]:
#7.1,7,2/ 3번째 생일은?
year_list = [1980,1981,1982,1983,1984,1985]
year_list[3]

1983

In [31]:
x=len(year_list)
x

6

In [33]:
#7.3
year_list[5]

1985

In [34]:
#7.4
things=['mozzarella','cinderella','salmonella']

In [44]:
#7.5
things=['mozzarella','cinderella','salmonella']

print(things[1].capitalize())

Cinderella

In [46]:
#7.6
print(things[0].upper())

MOZZARELLA

In [49]:
#7.7
things.remove('salmonella')
print(things)

['mozzarella', 'cinderella']

In [7]:
#7.8
surprise =['Groucho','Chico','Harpo']

In [8]:
x=surprise[2].lower()
x

'harpo'

In [9]:
y=''.join(reversed(x))
y

'oprah'

In [10]:
print(y.capitalize())

Oprah

In [11]:
even_numbers =[number for number in range(10) if number % 2 ==0]
even_numbers

[0, 2, 4, 6, 8]

In [12]:
start1 = ["fee","fie","foe"]
rhymes = [
    ("flop", "get a mop"),
    ("fope", "turn the rope"),
    ("fa", " get your  ma"),
    ("fudge", "call the judge"),
    ("fat","pet the cat"),
    ("fog","walk the dog"),
    ("fun","say we're done"),
]
start2 ="Someone better"

In [61]:
x = word.capitalize()+'!'+' ' for word in start1
y = ' '.join(x)
for first, second in rhymes:
    print(f'{y} {first.capitalize()}!\n{start2} {second}.\n')

SyntaxError: invalid syntax (<ipython-input-61-d8e0e5063cd9>, line 1)

In [49]:

x,y for i in range(len(rhymes))
x = (start1+rhymes[i]).capitalize() +'!'+' ' 
y = start2.capitalize +' '+ rhymes.values()+ '.'

SyntaxError: invalid syntax (<ipython-input-49-ba5973c11b9a>, line 1)

## 책 연습문제 p.205

In [16]:
#8.1
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [22]:
x= e2f['walrus']
print('영어 walrus의 프랑스어 :'+' '+ e2f['walrus'])

영어 walrus의 프랑스어 : morse

In [24]:
f2e = {}
for english, french in e2f.items():
    f2e[french] = english
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [25]:
f2e['chien']

'dog'

In [26]:
list(e2f.keys())

['dog', 'cat', 'walrus']

In [29]:
life ={'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':{},'emus':{}},'plants':{},'other':{}}

In [30]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [31]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [33]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']

In [35]:
squares = {key : key*key for key in range(10)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [36]:
a_set={number for number in range(10) if number % 2 ==1} 
a_set

{1, 3, 5, 7, 9}

In [38]:
key=('optimist','pessimist','troll')
value= ('The glass is half full','The glass is half empty','How did you get a glass?')
dict(zip(key,value))

{'optimist': 'The glass is half full',
 'pessimist': 'The glass is half empty',
 'troll': 'How did you get a glass?'}

In [40]:
title = ['Creature of Habit','Cewel Fate']
plots = ['A nun turns into a mon ster','A haunted yarn shop']
movies = dict(zip(title,plots))
movies

{'Creature of Habit': 'A nun turns into a mon ster',
 'Cewel Fate': 'A haunted yarn shop'}

In [48]:
i=0

for i in range(10):
    a= 'Got' + ' '+ str(i)
    print(a)

Got 0
Got 1
Got 2
Got 3
Got 4
Got 5
Got 6
Got 7
Got 8
Got 9