## 위치인수, 키워드 인수

In [1]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [2]:
 print(10, 20, 30)

10 20 30

In [3]:
x=[10,20,30]
print_numbers(*x) # * 은 각줄에 하나씩 출력시킴

10
20
30

In [4]:
print_numbers(*(40,50,60))

40
50
60

In [5]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [6]:
print_numbers(40,50,60)

40
50
60

In [7]:
def print_numbers(a, *args): # 고정인수(a)가 가변인수(*args) 보다 먼저 나온다!
    print(a)
    for arg in args:
        print(arg)
print_numbers(10,20,30,40,50,60)

10
20
30
40
50
60

In [8]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [10]:
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**x) # 딕셔너리는 별이 두개! 딕셔너리는 키-값 쌍 형태로 값이 저장되어 있기 때문

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [11]:
personal_info(*x) # 한개이면 키값만

이름:  name
나이:  age
주소:  address

In [12]:
### 가변 키워드 인수를 갖는 함수 만들기

In [14]:
 def personal_info(**kwargs):
        for kw, arg in kwargs.items():
            print(kw, ': ', arg, sep='')

In [15]:
personal_info(name='홍길동')

name: 홍길동

In [16]:
personal_info(**{'name': '홍길동', 'old': 30, 'address':'서울시 용산구 이촌동'})

name: 홍길동
old: 30
address: 서울시 용산구 이촌동

In [17]:
def personal_info(**kwargs):
    if 'name' in kwargs:    # in으로 딕셔너리 안에 특정 키가 있는지 확인
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
    if 'address' in kwargs:
        print('주소: ', kwargs['address'])

In [18]:
personal_info(**{'name': '홍길동', 'old': 30, 'address':'서울시 용산구 이촌동'})
#old 가 없는데, 오류없이 올드 빼고 내보낸다.

이름:  홍길동
주소:  서울시 용산구 이촌동

In [19]:
def personal_info(name, **kwargs):
    print(name)
    print(kwargs)
personal_info('홍길동', age=30, address='서울시 용산구 이촌동')

홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

In [20]:
#위치와 가변 함께 사용

In [21]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)
custom_print(1, 2, 3, sep=':', end='END\n')

1:2:3END

In [24]:
#고정인수,가변 위치인수, 키워드 인수 함께 사용
def custom_print(a, b, *args, **kwargs):
     print(a, b, *args, **kwargs)

# 매개변수 초기값

In [25]:
 def personal_info(name, age, address='비공개'):
        print('이름: ', name)
        print('나이: ', age)
        print('주소: ', address)

In [26]:
personal_info('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [27]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [29]:
 def personal_info(name,  address='비공개', age=0):  #옵션은 뒤에 나와야하지만, 에이지 0으로 주면 가능
        print('이름: ', name)
        print('나이: ', age)
        print('주소: ', address)

In [30]:
korean, english, mathematics, science = 100, 86, 81, 91
def get_max_score(*args):
    return max(args)

max_score = get_max_score(korean, english, mathematics, science)
print('높은 점수:', max_score)
 
max_score = get_max_score(english, science)
print('높은 점수:', max_score)

높은 점수: 100
높은 점수: 91

In [ ]:
korean, english, mathematics, science = map(int, input().split())
def get_min_max_score(*arg):
    return min(arg)
    return max(arg)

def get_average_score(**arg):
    return average(arg)
min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

In [42]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

In [41]:
factorial(4)

24

In [37]:
def fibo(n):
    if n == 0 or n == 1 :
        return 1
    return fibo(n-1) + fibo(n-2)

In [38]:
for i in range(1,11):
    print(i, fibo(i))

1 1
2 2
3 3
4 5
5 8
6 13
7 21
8 34
9 55
10 89

In [39]:
def series(n):
    if n == 0:
        return 0
    if n ==1:
        return 1
    return 3 * series(n-1) + 5 * series(n-2)

In [40]:
for i in range(1,11):
    print(i, series(i))

1 1
2 3
3 14
4 57
5 241
6 1008
7 4229
8 17727
9 74326
10 311613