1.평균점수는 ?
과목  점수
국어   80
영어   75
수학   55

In [2]:
result = {'국어' : 80,'영어' : 75 , '수학' : 55}
result_list = list(result.values( ))
result_list

[80, 75, 55]

In [4]:
#1번 방법
result_mean = (result_list[0]+ result_list[1]+ result_list[2]) /3
result_mean

70.0

In [26]:
#2번
sum = 0
for i in result_list :
    sum += i
m = sum / len(result_list)
print(m)

70.0

In [11]:
#3번
a=80 
b=75
c=55
m = (a+b+c)/len(result)
m

70.0

In [10]:
# 심화: for 문으로 결과값(values)을 도출하는 법!
for i in result.values() : 
    print(i)

80
75
55

In [ ]:
# 딕셔너리를 리스트로 만드는 법
#  list(a.key( )) --> ['국어','영어','수학']

2. 자연수 13이 홀수인지 짝수인지 판별하는 방법

In [12]:
n = 13
if n % 2 == 0 :
    print('짝수')
else :
    print('홀수')

홀수

In [35]:
# 심화 : m 값을 입력받아서 판별해보자~ int(input( ))
심화 : m 값을 입력받아서 판별해보자~ int(input( ))
m = int(input('정수입력> ' ))
if m % 2 == 0 :
    print('짝수')
else :
    print('홀수')

SyntaxError: invalid syntax (<ipython-input-35-295a48501940>, line 2)

3. 홍길동의 주민등록번호(881120-1068234) 출력

In [44]:
pin = '881120-1068234'
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

4. 성별을 나타내는 숫자를 출력하는 법

In [47]:
s = pin[7]
s

'1'

In [48]:
s = pin[7]
if s == '1' :
    print('남자')
else :
    print('여자')

남자

5. 문자열 a:b:c:d 를 a#b#c#d 로 바꿔보자

In [49]:
a= 'a:b:c:d'
b = a.replace(':','#')
print(b)

a#b#c#d

6. [1,3,5,4,2]리스트를 [5,4,3,2,1]로 만들어보자

In [54]:
a =[1,3,5,4,2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

7.문자열 출력

In [58]:
a=['life','is','too','short']
result = ' '.join(a)
print(result)
# ' '.join(a) -->' ' 안에 없으면 공백.

life is too short

8. 튜플값 추가 --> 값이 변경 불가한 튜플값 변경하는 법

In [ ]:
#새로운 튜플을 생성, a 변수에 대입되는 것

In [60]:
a = (1,2,3)
a = a + (4, )
print(a)

(1, 2, 3, 4)

10. B의 값 추출하기

In [68]:
#1번  : key 이용
a = { 'A':90,'B':80,'C':70}
result = a['B']
print(result)

80

In [77]:
#2번 : pop 이용
p = a.pop('B')
print(p)

80

In [73]:
#심화 
a.keys()

dict_keys(['A', 'B', 'C'])

In [76]:
# ?? 
b = a.values('B')
b

TypeError: values() takes no arguments (1 given)

11. 리스트의 중복 제거하는 법 : set으로 변환 ->다시 리스트로 전환

In [79]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [80]:
a = [1,1,1,2,2,3,3,3,4,4,5]
a1 = list(set(a))
a1

[1, 2, 3, 4, 5]

12. a = b ?

In [81]:
a = b =[1,2,3]
a[1] = 4
print(b)

[1, 4, 3]